apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: account-app
  namespace: centrol-workflow
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: account-app
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
