apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-workflow
  namespace: central-workflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-workflow
  template:
    metadata:
      labels:
        app: backend-workflow
    spec:
      containers:
        - name: backend-workflow
          image: backend-workflow:latest
          imagePullPolicy: Never # use the local image
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DATABASE_URL
            - name: NODE_ENV
              value: "production"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
